@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;700&display=swap');
:root{
    --darkblue: hsl(209, 23%, 22%);
    --verydarkdlue: hsl(207, 26%, 17%);
    --darkgray: hsl(0, 0%, 52%);
    --verylightgray : hsl(0, 0%, 97%);
    --white: hsl(0, 0%, 100%);
    --mainfont: 'Nunito Sans', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--mainfont);
}
body{
    background-color: var(--verylightgray);
}
body.darktheme{
    background-color: var(--verydarkdlue);
}
.darktheme{
    background-color: var(--darkblue);
    color: white;
}
div.darktheme{
    background-color: var(--darkblue);
    color: white;
}
button{
    background: transparent;
    border: none;
    cursor: pointer;
}
header{
    background-color: var(--white);
    display: flex;
    padding-inline: 73px;
    justify-content: space-between;
    align-items: center;
    padding-block: 23px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.035);   
}

header > h1{
    font-size: 25px;
    font-weight: 700;
}
.darkmodeinput{
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    gap: 5px;
    align-items: center;
}




.loading > h1{
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.searchandfilter{
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 73px;
}
.searchbox {
    display: flex;
    align-items: center;
    position: relative;
}
.searchbox > i{
    position: absolute;
    left: 32px;
}
.searchbox > input{
    width: 480px;
    padding-left: 70px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.035);   
}
.filterbyregion{
    background-color: var(--white);
    padding: 16px;
    border-radius: 5px;
}
.filterbyregion > button{
    padding-inline: 10px;
}
.filter{
    position: relative;
}
.filter > ul{
    position: absolute;
    display: none;
    list-style: none;
    background-color: var(--white);
    border-radius: 4px;
    padding: 16px;
    width: 178px;
    top: 58px;
}
.filter > ul.darktheme{
    background-color: var(--darkblue);
}
.filter > ul > li > button{
    font-size: 16px;
    width: 100%;
    text-align: left;
}
.filter > ul > li > button.darktheme{
    color: var(--white);
}
.content{
    margin-block: 48px;
    padding-inline: 73px;
    display: flex;
    flex-wrap: wrap;
    gap: 74px;

}
.country{
    width: 264px;
    background-color: var(--white);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.035);
    border-radius: 4px;   
}
.country > h2, p{
    padding-left: 25px;
}
.country > h2{
    padding-block: 25px;
}
.country > P{
    padding-bottom: 12px;
    font-weight: 600;
}
.country > p.capitalofcrountry{
    padding-bottom: 40px;
    
}
.country > p > span{
    font-weight: 300;
}
.country > img{
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor:pointer;
}



@media (max-width:810px){
    header{
        padding-inline: 20px;
    }
    header > h1{
        font-size: 17px;
    }
    .searchandfilter{
        flex-direction: column;
        align-items: flex-start;
        padding-inline: 20px;
        margin-top: 30px;
    }
    .searchbox{
        margin-bottom: 50px;
    }
    .searchbox > input{
        display: block;
        width: 90vw;
    }

    .content{
        margin-block: 30px;
        padding-inline: 70px;
        display: block;
    }
    .country{
        width: 100%;
        margin-bottom: 40px;
    }
    
}
